.article__regular {
  background: var(--clr-main);
  min-height: 160px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__title {
  width: 85%;
}

.article__votes {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 6px;
}

.article__votes svg {
  padding: 4px;
  margin-bottom: 5px;
  width: 25px !important;
  height: 25px !important;
}

.rotated {
  transform: rotateX(180deg);
}

.article__votes svg {
  padding: 4px;
  margin-bottom: 5px;
  width: 25px !important;
  height: 25px !important;
}

.article__edit svg,
.article__delete svg {
  margin: 0 0.5rem;
}

.article__modify svg {
  margin: 0 7px;
}

.article__reply svg {
  margin: 0 7px;
}

.article__delete svg:hover {
  color: var(--clr-background);
}

.article__edit svg:hover {
  /*color: #3BA55D;*/
}

.article__modify svg:hover {
  cursor: pointer;
  color: var(--clr-background);
}

.article__reply svg:hover {
  cursor: pointer;
  color: var(--clr-background);
}


.article__rounded {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.article__votes__icon {
    border: 1px solid var(--clr-purple);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: var(--clr-purple);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
}


.article__main {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.article__title {
  overflow: hidden;
  word-wrap: break-word;
  flex: 1;
}

.article__information {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 0.5rem;
}

.article__small__text {
  font-size: clamp(10px, 2vw, 1.3rem);
}

.article__information__icon {
  padding-right: 0.5rem;
  width: 2em !important;
}

.article__inputs__wrapper {
  height: 100%;
  flex: 1 1 auto;
  margin: 0 auto;
  display: block;
}

.article__inputs__wrapper input {
  display: block;
}

@media (max-width: 600px) {
  .article__small__text {
    font-size: clamp(12px, 1vw, 1rem);
  }

  .article__information svg {
    display: block;
    margin: 0 auto 8px auto;
  }
    .article__votes__icon {
        border: 1px solid var(--clr-purple);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background: var(--clr-purple);
        font-weight: bold;
        cursor: pointer;
    }
}

.article__rounded {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.article__main {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.article__information {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
}

.article__information__icon {
  padding-right: .5rem;
}

.article__icons {
  display: flex;
}

@media (max-width: 600px) {
  .article__small__text {
    font-size: clamp(12px, 1vw, 1rem);
  }

  .article__main__column {
    display: flex;
    flex-direction: column;
  }

  .article__inputs__wrapper {
    width: 100%;
  }

  .article__icons {
      flex-direction: column;
      display: flex;
      text-align: center;
  }

  .article__icons__edit {
    order: -1;
    justify-content: right;
  }
}