.article__regular {
  background: var(--clr-main);
  min-height: 160px;
  margin-bottom: 0.5rem;
}

.article__title {
  width: 85%;
}

.article__votes {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article__rounded {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.article__votes__icon {
  width: 25px !important;
  height: 25px !important;
  font-weight: bold;
  color: var(--clr-white);
  background: var(--clr-purple);
  border-radius: 30px;
  margin: 0 auto;
}

.article__main {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  /*height: 80%;*/
  display: flex;
  justify-content: space-between;
}

.article__information {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
}

.article__information__icon {
  padding-right: .5rem ;
}


@media (max-width: 1400px) {
  .article__title{
    width: 70%;
  }
  /*.article__votes {*/
  /*  width: 30%;*/
  /*}*/
}

@media (max-width: 800px) {
  .article__title{
    width: 70%;
  }
  /*.article__votes {*/
  /*  width: 30%;*/
  /*}*/
}

.article__icons {
    display: flex;
}

@media (max-width: 600px) {
  .article__small__text {
    font-size: clamp(12px, 1vw, 1rem);
  }

  .article__information__icon {
  }

  .article__main__column {
      display: flex;
      flex-direction: column;
  }
  .article__inputs__wrapper {
      width: 100%;
  }
  .article__icons__edit {
      order: -1;
      justify-content: right;
  }
}
