.auth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.auth__links {
    display: flex;
    justify-content: space-between;
}

.auth__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 600px) {
    .auth__links {
        font-size: 16px;
    }
}




