.rotated {
  transform:  rotateX(180deg);
}

.add__comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.write__comment {
  margin: 0.1rem;
  width: 95%;
  outline: none;
  padding: 0.3rem;
  font-size: var(--fs-body);
  background: rgba(249, 244, 255, 0.9);
}

.write__comment:focus {
  outline: 3px solid var(--clr-main);
  /*border: 5px solid var(--clr-purple);*/
}
.comment__flex {
  display: flex;
  justify-content: flex-end;
}

.comment__icons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.comment__icons svg:hover {
  color: var(--clr-main);
}
.comment__wrapper {
  width: 97%;
}

.comment__delete svg:hover {
  color: var(--clr-background);
  /*color: #a59d9d;*/
  /*margin-bottom: 5px;*/
  /*width: 2em !important;*/
}

.comment__edit svg:hover {
  /*color: #3BA55D;*/
}

.comment__modify svg {
  margin: 0 7px;
}

.comment__modify svg:hover {
  cursor: pointer;
  color: var(--clr-background);
}

.comment__reply svg {
  margin: 0 7px;
}

.comment__reply svg:hover {
  cursor: pointer;
  color: var(--clr-background);
}

.comment__inputs__wrapper {
  height: 100%;
  flex: 1 1 auto;
  margin: 0 auto;
  display: block;
}

.comment__inputs__wrapper input {
  display: block;
}

.comment__regular {
  background: var(--clr-comment);
  min-height: 125px;
  /*max-height: 125px;*/
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment__border {
  padding-left: 55px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-left: 5px solid #554360;
}

.comment__votes {
  display: flex;
  margin-top: 1rem;
}

.comment__votes svg {
  margin-bottom: 5px;
  padding: 2px;
  width: 1.3rem !important;
  height: 1.3rem !important;
}

/*.comment__votes__icon {*/
/*  width: 25px !important;*/
/*  height: 25px !important;*/
/*  font-weight: bold;*/
/*  color: var(--clr-white);*/
/*  background: var(--clr-purple);*/
/*  border-radius: 30px;*/
/*  margin: 0 auto;*/
/*}*/

.comment__main {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.comment_title {
  flex: 1;
}

.comment__information {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  margin-bottom: 0.5rem;
}

.comment__information__icon {
  padding-right: 0.5rem;
  width: 2em !important;
  text-align: center;
}

.comment__small__text {
  font-size: clamp(10px, 1.3vw, 1rem);
}

@media (max-width: 600px) {
  .comment__small__text {
    font-size: clamp(12px, 1vw, 1rem);
  }

  .comment__information svg {
    display: block;
    margin: 0 auto 8px auto;
  }
}

.comment {
  display: flex;
  min-height: 100px;
}

.comment__left {
  text-align: center;
  /*min-width: 50px;*/
  /*padding: 5px 0;*/
  align-items: center;
  display: flex;
  flex-direction: column;
}

.comment__votes__count {
  color: var(--clr-white);
  background: var(--clr-main);
  min-width: 40px;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 16px;
}

.comment__line {
  width: 2px;
  height: 100%;
  background: var(--clr-main);
}

.comment__right {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 70%;
}

.comment__data {
  display: flex;
  margin: 0.2rem 0;
}

.comment__author {
  margin-right: 1rem;
}

.comment__created {
  color: var(--clr-grey);
}
.comment__body {
  margin: 0.7rem 0;
}
.comment__icon {
  margin-right: 1rem;
}
.comment__icon:hover {
  color: #554360;
  cursor: pointer;
}

