.comment__regular {
    background: var(--clr-comment);
    min-height: 125px;
    margin-bottom: 0.1rem;
}

.comment__title {
    width: 85%;
}

.comment__votes {
    display: flex;
    flex-direction: column;
}

.comment__rounded {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.comment__votes__icon {
    /*width: 70px;*/
    /*height: 70px;*/
    font-weight: bold;
    color: var(--clr-white);
    background: var(--clr-purple);
    border-radius: 30px;
}

.comment__main {
    padding: 1.5rem 0 1rem 1.5rem;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.comment__information {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
    text-align: end;
}

.comment__information__icon {
    padding-right: .5rem ;
}


.comment {
  display: flex;
  min-height: 100px;
}

.comment__left {
  text-align: center;
  /*min-width: 50px;*/
  /*padding: 5px 0;*/
  align-items: center;
  display: flex;
  flex-direction: column;
}

.comment__votes__count {
  color: var(--clr-white);
  background: var(--clr-main);
  min-width: 40px;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 16px;
}

.comment__line {
  width: 2px;
  height: 100%;
  background: var(--clr-main);
}

.comment__right {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 70%;
}

.comment__data {
  display: flex;
  margin: 0.2rem 0;
}

.comment__author {
  margin-right: 1rem;
}

.comment__created {
  color: var(--clr-grey);
}
.comment__body {
  margin: 0.7rem 0;
}
.comment__icon {
  margin-right: 1rem;
}

.comment__icon:hover{
  color: var(--clr-main);
  cursor: pointer;
}

.comment__votes {
  display: flex;
  flex-direction: inherit;
  margin-top: 15px;
}

.comment__icon__comments {
  text-align: center;
}
