.footer {
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.footer a:hover {
    text-decoration: underline;
}

