.profile {
    width: 70%;
}

.profile__information {
    display: flex;
    margin: 3rem 0;
}

/* .profile__pic {
    width: 200px !important;
    height: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    min-height: 200px !important;
    max-height: 200px !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid red;
} */

.profile__top {
    display: flex;
    justify-content: space-between;
}

.user__information {
    width: 70%;
}

.user__profile__pic {
    margin: 0 2rem;
}

.user__bio {
    margin: 1.5rem 5rem 3rem 0;

    width: 100%;
}

.user__activities {
    display: flex;
    justify-content: space-around;
    margin-left: -60px;
}

.user__activity {
    text-align: center;
    margin-left: 20px;
}

.top__info {
    display: flex;
    justify-content: space-between;
}

/* exit button in profile*/
.exit__btn {
    position: relative;
    font-weight: var(--fw-bold);
    font-size: clamp(15px, 3vw, 24px);
    text-align: center;
    z-index: 3;

    color: var(--clr-white);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(
            264.39deg,
            #ba2bac -36.33%,
            #e655e8 20.2%,
            #6369fa 106.31%,
            rgba(255, 6, 230, 0) 130.66%
        );
    border-radius: 10px;

    padding: 5px 1rem;
}

.exit__btn__confirm {
    position: relative;
    /*width: 157px;*/
    /*height: 53px;*/
    display: inline-block;

    border-radius: 10px;
    background: linear-gradient(
        264.39deg,
        #b11515 -36.33%,
        rgba(213, 2, 2, 0.98) 20.2%,
        rgba(241, 12, 39, 0.87) 106.31%,
        rgba(255, 6, 230, 0) 130.66%
    );
}

.exit__btn__shadow {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -6.15%;
    bottom: 6.15%;

    background: linear-gradient(
        264.39deg,
        #ba2bac -36.33%,
        #e655e8 20.2%,
        #6369fa 106.31%,
        rgba(255, 6, 230, 0) 130.66%
    );
    border-radius: 10px;
}

.exit__btn__text {
    position: relative;
}

@media (max-width: 760px) {
    .profile__information {
        flex-direction: column;
    }

    .user__profile__pic {
        margin: 0 auto;
        width: 150px;
    }

    .user__information {
        width: 100%;
    }

    .profile__top h3 {
        width: 100%;
        text-align: center;
    }

    .user__bio {
        text-align: center;
    }

    .user__activities {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .profile {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .user__activity {
        font-size: 14px;
    }
}
