.nav {
    width: 20%;
    margin-top: 1rem;
    font-size: 30px;
}

.nav__item:hover, .nav__item a:hover {
    color: var(--clr-white);
    cursor: pointer;
}

.nav__list {
    list-style: none;
    color: var(--clr-grey) ;
}

.nav__item, .nav__item  a {
    padding-top: 2rem;
    color: var(--clr-grey);
}

.nav__icon {
    padding-right: .5rem;
}

.active {
    color: red;
}

/* for active links */
.active {
    color: pink;
}
